<%- include('../partials/navbar.ejs') %>
  
    <div class="container">
        <div class="categories">
            <div class="title">
                <h1 class="titleOne">Checkout all of the Courses in AOU!</h1>
<%- include('../partials/footer.ejs') %>
            