<%- include('../partials/navbar.ejs') %>
    <h1 class="titleOne">Choose a Major of choice!</h1>

    <main>
        <!-- Start majors -->
        <div class="categories" id="categories">

            <div class="container">
                <% majors.forEach(function (major) { %>

                    <div>
                        <a href="/majors/<%= major._id %>">
                            <div class="box">
                                <i class="bi bi-mortarboard-fill"></i>
                                <h3 class="categoryA">
                                    <%= major.name %>
                                </h3>
                            </div>
                        </a>
                    </div>
                    <% }) %>
            </div>
            <!-- End majors -->
    </main>

    <%- include('../partials/footer.ejs') %>